<div class="col-xs-offset-4 col-xs-4">
<div>

  <h2><%= @post.title %></h2> <br>
  <h6><%= @post.author %></h6><br>
</div>
  <h4><%= @comment.name %></h4> <br>
  <p><%=  @comment.body %></p>
</div>
</div>
