<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">BlogSpot</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="/posts">Posts</a>
        </li>
        <li>
          <a href="/tags">Tags</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/posts/new">New Post</a></li>
      </ul>
    </div>
  </div>
  </div>
<div class="container-fluid bg"><h1 class="title"><span class="Blog">Blog</span><span class="Spot">Spot</span></h1></div>

<div class="container">
<%= yield %>
</div>
<div class="footer"></div>
</body>
</html>
